div[id='player'] {
    display: inline-block;
}

p[id$='info'] {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}

p[id$='messages'] {
    font-family: Tahoma, Geneva, sans-serif;
}
